<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneclouder.pidm.user.dao.IAssociationUnitDao">
    <resultMap id="BaseResultMap" type="com.oneclouder.pidm.user.model.AssociationUnit">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association column="association_id" jdbcType="INTEGER" property="association"
                     javaType="com.oneclouder.pidm.user.model.Association" select="com.oneclouder.pidm.user.dao.IAssociationDao.findById"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description, association_id
    </sql>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_ASSOCIATION_UNIT
        WHERE id = #{id}
    </select>

    <select id="findId" parameterType="map" resultType="java.lang.Integer">
        SELECT id FROM T_ASSOCIATION_UNIT WHERE association_id = #{associationId} AND name = #{name}
    </select>
</mapper>