<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneclouder.pidm.communicate.dao.IQuestionDao" >
  <resultMap id="BaseResultMap" type="com.oneclouder.pidm.communicate.model.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="communicate_id" property="communicateId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />

    <association column="communicate_id" property="communicate" javaType="com.oneclouder.pidm.communicate.model.Communicate"
          select="com.oneclouder.pidm.communicate.dao.ICommunicateDao.findCommunicateById"></association>
  </resultMap>
<!--添加  再提问-->
  <insert id="addQuestion" parameterType="com.oneclouder.pidm.communicate.model.Question">
    INSERT INTO T_QUESTION (content,time,communicate_id)
    VALUES
        (#{content},#{time},#{communicateId})
  </insert>

  <!--根据交流表ID 查询再提问的问题-->
  <select id="findQuestionByComId" resultMap="BaseResultMap">
    SELECT * FROM T_QUESTION
    WHERE
        communicate_id = #{communicate_id}
  </select>
</mapper>